*{margin: 0;
padding: 0;
overflow: hidden;}

@font-face {
    font-family: Star; /* Имя шрифта */
    src: url(Starjedi.ttf); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }
body{
	width: 100vw;
height: 100vh;
background: black;
display: flex;
justify-content: center;
align-items: center;
}

.btn{
	background: transparent;
	width: 20vw;
	height: 10vw;
	border: 5px solid #ac8100;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btntxt{
	padding-left: 0.8vw;
	padding-bottom: 0.8vw;
	font-family: Star;
	font-size: 4vw;
	letter-spacing: 5px;
	font-weight: 700;
	color: #ac8100;
}
.supernova{
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: rgba(246,246,246,1);
}


.wrapper{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #000;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

@for $i from 1 through 200 {
  $x : random(3);
  @keyframes stars{
	from{opacity: 0.8;box-shadow: 0 0 ($x*4+px) ($x*2+px) rgba(255, 255, 255, 0.5);}
	to{opacity: 0.3;box-shadow: 0 0 ($x*8+px) ($x*3+px) rgba(242, 255, 0, 0.3);}
}
  .star#{$i} {
    top: random(1080) + px;
	left: random(1920) + px;

	width: $x + px;
	height: $x + px;
	animation: stars (0.8 + random(20)*0.1 + s) (random(5) * 0.1 + s) infinite alternate;
  }
}

.star{
	position: fixed;
	transform: rotate(45deg);
	background: white;
	
}


.title div{
	font-family: Star;
	color: #ac8100;
	font-size: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title2{
	margin-top: -120px; 
}
.title{
	margin-bottom: 100px;
	transform: perspective(400px) rotateX(0deg) translateZ(500px);
}




.text{

	overflow: hidden;
	color: yellow;
	position: absolute;
	top: 15vh;
	font-size: 75px;
	width: 100vw;
	letter-spacing: 5px;
	line-height: 80px;
	text-align: center;
	transform: perspective(400px) rotateX(50deg) translate(0px, 800px) translateZ(-200px); opacity: 1;
	animation: MoveMainText 60s 12s linear;
	

}

@keyframes MoveTitle{
	from{transform: perspective(400px) rotateX(0deg) translateZ(500px); opacity: 1;animation-timing-function: ease-in;}
	20%{transform: perspective(400px) rotateX(0deg) translateZ(250px); opacity: 1;animation-timing-function: linear;}
	90%{transform: perspective(400px) rotateX(0deg) translateZ(-1500px); opacity: 1;}
	100%{transform: perspective(400px) rotateX(0deg) translateZ(-1500px); opacity:0;}
}



@keyframes MoveMainText{
	from{transform: perspective(400px) rotateX(45deg) translate(0px, 800px) translateZ(-200px); opacity: 1;}
	90%{ transform: perspective(400px) rotateX(45deg) translate(0px, -2500px) translateZ(-600px); opacity: 1;}
	100%{ transform: perspective(400px) rotateX(45deg) translate(0px, -2500px) translateZ(-600px); opacity: 0;}
}

@keyframes Explosion{
	from{width: 0px;height: 0px;
		box-shadow: 0px 0px 10px 4px rgba(255,255,255,1);}
	80%{width: 100vw;height: 100vw;
		box-shadow: 0px 0px 500px 200px rgba(255,255,255,1);}
	90%{width: 90vw;height: 90vw;
		box-shadow: 0px 0px 400px 150px rgba(255,255,255,1);}
	to{width: 0px;height: 0px;
		box-shadow: 0px 0px 10px 4px rgba(255,255,255,1);}
}